@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --item-bg: hsl(0, 0%, 98%);
  --item-color: hsl(235, 19%, 35%);
  --background: hsl(0, 0%, 98%);
  --background-image: url("./images/bg-desktop-light.jpg");
  --circle-border: hsl(236, 33%, 92%);
  --circle-border-active: hsl(236, 9%, 61%);
  --active-button: hsl(220, 98%, 61%);
  --moon-animation: reveal;
  --sun-animation: hide;
  --button-hover-filer: brightness(0.7);
}

[data-theme="dark"] {
  --background: hsl(235, 21%, 11%);
  --background-image: url("./images/bg-desktop-dark.jpg");
  --moon-animation: hide;
  --sun-animation: reveal;
  --circle-border: hsl(237, 14%, 26%);
  --circle-border-active: hsl(233, 14%, 35%);
  --item-bg: hsl(235, 24%, 19%);
  --item-color: hsl(234, 39%, 85%);
  --button-hover-filer: brightness(1.5);
}

@keyframes reveal {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


body {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--background);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s linear;
}

button:hover, button:active, button:focus {
  outline: none;
}

.background {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 300px;
  top: 0;
}

.background__image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 550px;
  margin: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.header__title{
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.6rem;
  color: white;
}

.header__switcher{
  position: relative;
  color: white;
  cursor: pointer;
}

.header__switcher:focus{
  filter: none;
}

.header__switcher:hover{
  color: var(--active-button);
  transform: scale(1.2);
}

.fa-moon{
  position: absolute;
  top: 0px;
  right: 0px;
  animation: var(--moon-animation) 0.3s forwards;
}

.fa-sun{
  position: absolute;
  top: 0px;
  right: 0px;
  animation: var(--sun-animation) 0.3s forwards;
}

.additem {
  width: 100%;
  background-color: var(--item-bg);
  margin-top: 40px;
  height: 60px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  border-radius: 5px;
}

.additem__input{
  height: 36px;
  width: 80%;
  font-size: 20px;
  color: var(--item-color);
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.additem__input:focus,
.additem__input:active {
  border: none;
  outline: none;
  opacity: 1;
}

.circle {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--circle-border);
  display: inline-block;
  margin: 0px 15px;
  cursor: pointer;
}

.circle:hover {
  border: 2px solid var(--circle-border-active);
}


.list{
  width: 100%;
  background-color: var(--item-bg);
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0px 21px 20px 3px rgba(0,0,0,0.2);
}

.list>ul{
  margin: 0;
  padding: 0;
}

.list__item{
  position: relative;
  cursor: pointer;
  width: 90%;
  list-style-type: none;
  padding: 0;
  padding-right: 10%;
  margin: 0;
  height: 60px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  color: var(--item-color);
  border-bottom: 1px solid var(--circle-border);
}

.completed {
  text-decoration: line-through;
  color: var(--circle-border)
}

.completed>button:nth-child(1){
  background: rgb(87,221,255);
  background: linear-gradient(160deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
}

.completed>button:nth-child(1):hover {
  border: 2px solid var(--circle-border);
  transform: scale(1.2);
}

.completed>button:nth-child(1)::before {
  position: relative;
  right: 3px;
  content: url("./images/icon-check.svg");
}

.close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  width: 30px;
  height: 30px;
}

.close>img{
  display: none;
}

.list__item:hover .close>img{
   display: block;
}

.list__menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 20px;
}

.list__menu>button{
  color: var(--circle-border-active);
  width: 25%;
  text-align: end;
  font-weight: 700;
}

.list__menu--count {
  color: var(--circle-border-active);
  font-size: 0.9rem;
  width: 25%;
}

.filter {
  color: var(--circle-border-active);
  font-weight: 700;
}

.filter:active {
  color: var(--active-button);
}

.activeFilter {
  color: var(--active-button);
}


.description{
  margin-top: 40px;
  font-size: 0.8rem;
  color: var(--circle-border-active);
  font-weight: 700;
  opacity: 0.6;
}

#addtodoButton{
  opacity: 1;
  font-size: 20px;
}

#addtodoButton:hover{
  background-color: var(--circle-border-active);
}

#addtodoButton::before {
  position: relative;
  right: 3px;
  top: -4px;
  font-weight: 700;
  color: var(--item-color);
  content: "+";
}