@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --item-bg: hsl(0, 0%, 98%);
  --item-color: hsl(235, 19%, 35%);
  --background: hsl(0, 0%, 98%);
  --background-image: url("./images/bg-desktop-light.jpg");
  --circle-border: hsl(236, 33%, 92%);
  --circle-border-active: hsl(236, 9%, 61%);
  --active-button: hsl(220, 98%, 61%);
}

[data-theme="dark"] {
  --background: hsl(235, 21%, 11%);
  --background-image: url("./images/bg-desktop-dark.jpg");
}

body {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--background);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover, button:active, button:focus {
  outline: none;
  filter: brightness(0.7);
}

.bg-image {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 300px;
  top: 0;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url("./images/bg-desktop-light.jpg");
}

.container {
  width: 550px;
  margin: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title{
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.6rem;
  color: white;
}

.header__switcher{
  color: white;
  cursor: pointer;
}

.header__switcher:hover{
  color: var(--active-button);
}

.additem {
  width: 100%;
  background-color: var(--item-bg);
  margin-top: 40px;
  height: 60px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  border-radius: 5px;
}

.additem__input{
  height: 36px;
  font-size: 20px;
  color: var(--item-color);
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.additem__input:focus,
.additem__input:active {
  border: none;
  outline: none;
}

.circle {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--circle-border);
  display: inline-block;
  margin: 0px 15px;
  cursor: pointer;
}

.circle:hover {
  border: 2px solid var(--circle-border-active);
}

.list{
  width: 100%;
  background-color: var(--item-bg);
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0px 21px 20px 3px rgba(0,0,0,0.2);
}

.list>ul{
  margin: 0;
  padding: 0;
}

.list__item{
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 60px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  color: var(--item-color);
  border-bottom: 1px solid var(--circle-border);
}

.completed {
  text-decoration: line-through;
  color: var(--circle-border)
}

.completed>span{
  background: rgb(87,221,255);
  background: linear-gradient(160deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
}

.completed>span:hover {
  border: 2px solid var(--circle-border);
  transform: scale(1.2);
}

.completed>span::before {
  position: relative;
  left: 5px;
  content: url("./images/icon-check.svg");
}


.list__menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 20px;
}

.list__menu>button{
  color: var(--circle-border-active);
  width: 25%;
  text-align: end;
  font-weight: 700;
}

.list__menu--count {
  color: var(--circle-border-active);
  font-size: 0.9rem;
  width: 25%;
}

.list__menu--filters>button {
  color: var(--circle-border-active);
  font-weight: 700;
}

.list__menu--filters>button:active {
  color: var(--active-button);
}

#active {
  color: var(--active-button);
}

.description{
  margin-top: 40px;
  font-size: 0.8rem;
  color: var(--circle-border-active);
  font-weight: 700;
  opacity: 0.6;
}